{% extends "base.html" %}

{% block content %}

{% include "dynamic_project_selector.html" %}

<div class="w-100 p-5 small mx-auto">
  <div>
    <h5 class"text-primary">{{headline}}</h5>
  </div>

  <br>

  {% include "flash_message.html" %}
  {% include "flash_error_message.html" %}

  <div class="shadow bg-white rounded">
    {% include "tasks_table.html" %}
  </div>

  <br>
  {% if customer_count > 0 %}
    {% include "add_task.html" %}
  {% else %}
      <img width="30" height="30" src="{{url_for('static', filename='attention.png')}}">
    You need to create a customer before you can add tasks.
  {% endif %}

</div>

{% endblock %}
