alembic
certifi
cffi
Click
cryptography
dominate
Flask
Flask-Bootstrap
Flask-Datepicker
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
Mako
MarkupSafe
pycparser
python-dateutil
python-editor
six
SQLAlchemy
static-parameters
visitor
Werkzeug
wincertstore
WTForms
