{% extends "base.html" %}

{% block content %}

<br>

<div class="card-body">
      <h5 class"text-primary">{{headline}}</h5>
</div>

<div class="">

</div>


<div class="w-100 p-5 small mx-auto">
    <table class="table table-hover-big">
      <thead>
        <tr>
          <th scope="col" style="width: 10%">Customer</th>
          <th scope="col" style="width: 15%">Project</th>
          <th scope="col" style="width: 40%">Text</th>
          <th scope="col" style="width: 10%">Type</th>
          <th scope="col" style="width: 10%">DueDate</th>
          <th scope="col" style="width: 10%">Weekly</th>
          <th scope="col" style="width: 5%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for t in tasks %}
        <tr bgcolor="{{t.bgcolor()}}">
          <td>
            {{ t.customer_name() }}
            </td>
            <td>
              {{ t.project_name() }}
            </td>
          <td><a class="text-dark" href="{{url_for('tasks.edit', task_id=t.id)}}">{{t.text}}</a></td>
          <td>{{t.type.name}}</td>
          <td>
            {% if t.duedate %}
              {{t.duedate}}
            {% else %}
              None
            {% endif %}
          <td>{{t.weekly.name}}</td>
          <td class="text-center">
            <a href="{{url_for('tasks.edit', task_id=t.id)}}">
              <img src="{{url_for('static', filename='edit.png')}}" width="14" height="14">
            </a>
            &nbsp;
            <a href="{{url_for('tasks.delete', task_id=t.id)}}">
              <img src="{{url_for('static', filename='trash.png')}}" width="14" height="14">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr>


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <br>
        {% for category, message in messages %}
          <div class=" {{ category }} text-center">
          {{ message }}
          <button type="button" class="close align-middle" data-dismiss="alert" aria-label="Close" class="fade close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}

      {% endif %}
    {% endwith %}

    <!-- Date picker stuff ->>
    <!-- coole themes: base, flick, redmond -->
    {{ datepicker.loader(theme="flick") }} {# to load jQuery-ui #}
    {{ datepicker.picker(id=".dp") }}
    <!-- --- -->

    <!-- dynamic project selector -->
    <script charset="utf-8" type="text/javascript">

    $(function() {

        // jQuery selection for the 2 select boxes
        var dropdown = {
            customer: $('#select_customer'),
            project: $('#select_project')
        };

        // call to update on load
        updateProjects();

        // function to call XHR and update project dropdown
        function updateProjects() {
            var send = {
                customer: dropdown.customer.val()
            };

            dropdown.project.attr('disabled', 'disabled');
            dropdown.project.empty();
            $.getJSON("{{ url_for('tasks._get_projects') }}", send, function(data) {
                data.forEach(function(item) {
                    dropdown.project.append(
                        $('<option>', {
                            value: item[0],
                            text: item[1]
                        })
                    );
                });
                dropdown.project.removeAttr('disabled');
            });
        }

        // event listener to state dropdown change
        dropdown.customer.on('change', function() {
            updateProjects();
        });
    });
    </script>
    <!--- /dynamic project selector -->

    <br><br>
    <h6>Add a new task:</h6>


    <form method="POST">
      {{ form.hidden_tag() }}
      <table class="w-100 p-3">
        <tr>
          <td scope="col" style="width: 10%">{{ form.customer(class="form-control form-control-sm") }}</td>
          <td scope="col" style="width: 15%">{{ form.project(class="form-control form-control-sm") }}</td>
          <td scope="col" style="width: 40%">{{ form.text(class="form-control form-control-sm") }}</td>
          <td scope="col" style="width: 10%">{{ form.type(class="form-control form-control-sm") }}</td>
          <td scope="col" style="width: 10%">{{ form.duedate(class="form-control form-control-sm dp", size="10") }}</td>
          <td scope="col" style="width: 15%" colspan="2">{{ form.weekly(class="form-control form-control-sm") }}</td>
        </tr>
        <tr>
          <td colspan="6">
            {% if form.errors %}
              {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show text-center">
                          {{ error|escape }}
                            <button type="button" class="close align-middle" data-dismiss="alert" aria-label="Close" class="fade close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
          </td>
        </tr>
      </table>
      {{ form.submit(class="form-control form-control-sm btn btn-outline-primary w-100") }}
  </form>
</div>

<br>



{% endblock %}
