{% if rename_id %}
  <form  method="POST">
  {{ form.hidden_tag() }}
{% endif %}

<table class="table table-hover w-100 mx-auto">
  <thead class="thead-light">
    <tr class="border">
      <th scope="col" style="width: 20%">Customer</th>
      <th scope="col" style="width: 34%">Project</th>
      <th scope="col" style="width: 15%">Partner</th>
      <th scope="col" style="width: 7%">Infos</th>
      <th scope="col" style="width: 7%">Tasks</th>
      <th scope="col" style="width: 7%">Requests</th>
      <th scope="col" style="width: 10%">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for c, ps in projects.items() %}
    <tr>
      <td colspan="7" class="border-top bg-light">
        <h6>
          <a class="text-dark" href="{{url_for('customers.customer', customer_id=c.id)}}" title="Click to open customer">
            {{c.name}}
          </a>
        </h6>
      </td>
    </tr>
    {% for p in ps %}
      <tr class="text-left">
        <td>&nbsp;</td>
        {% if rename_id and rename_id == p.id %}
          <td>
            {{ form.new_name(class="form-control form-control-sm") }}
          </td>
          <td>
            {{ form.partner(class="form-control form-control-sm") }}
          </td>
        {% else %}
          <td>
            <a class="text-dark" title="Click to open project" href="{{url_for('projects.project', project_id=p.id)}}">
              {{p.name}}
            </a>
          </td>
          <td>
            {% if not p.partner_id %}
              -
            {% else %}
              {{ p.partner_name() }}
            {% endif %}
          </td>
        {% endif %}
        <td>{{ p.infos()| length }}</td>
        <td>{{ p.open_tasks()| length }}</td>
        <td>{{ p.requests()| length }}</td>
        {% if not no_actions_in_projecttable %}
          <td>
            {% if rename_id and rename_id == p.id %}
              {{ form.submit_rename(class="form-control form-control-sm btn btn-sm btn-outline-primary") }}
            {% else %}
              {% if not p.name == "Misc" %}
                <a href="{{url_for('projects.rename', project_id=p.id)}}">
                  <img src="{{url_for('static', filename='edit.png')}}" width="16" height="16">
                </a>
                &nbsp;
                <a href="{{url_for('projects.delete', project_id=p.id)}}" title="Delete">
                  <img src="{{url_for('static', filename='trash.png')}}" width="16" height="16">
                </a>
              {% endif %}
            {% endif %}
          </td>
        {% else %}
          <td>&nbsp;</td>
        {% endif %}
      </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>

{% if rename_id %}
  </form>
{% endif %}
