    {% if edit_id %}
      <form method="POST">
      {{ form.hidden_tag() }}
    {% endif %}

    {% if tasks %}
      <table class="table table-hover-big border-primary bg-light">
        <thead class="thead-light">
          <tr class="">
            <th scope="col" style="width: 10%">Customer</th>
            <th scope="col" style="width: 15%">Project</th>
            <th scope="col" style="width: 35%">Text</th>
            <th scope="col" style="width: 10%">Type</th>
            <th scope="col" style="width: 10%">DueDate</th>
            <th scope="col" style="width: 10%">Weekly</th>
            <th scope="col" style="width: 10%" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for t in tasks %}
          {% if edit_id and t.id|int == edit_id|int %}

          <tr bgcolor="{{t.bgcolor()}}">
            <td>{{ form.customer(class="form-control form-control-sm") }}</td>
            <td>{{ form.project(class="form-control form-control-sm") }}</td>
            <td>{{ form.text(class="form-control form-control-sm", autocomplete="off") }}</td>
            <td>{{ form.type(class="form-control form-control-sm") }}</td>
            <td>{{ form.duedate(class="form-control form-control-sm dp", size="10", autocomplete="off") }}</td>
            <td>{{ form.weekly(class="form-control form-control-sm") }}</td>
            <td>{{ form.submit(class="form-control form-control-sm btn btn-sm btn-outline-primary") }}</td>
          </tr>
          {% else %}
          <tr bgcolor="{{t.bgcolor()}}">
            <td>
              <a title="Click to open customer details" href="{{url_for('customers.customer', customer_id=t.customer_id())}}" class="text-dark">
                {{ t.customer_name() }}
              </a>
              </td>
              <td>
                <a title="Click to open Project details" class="text-dark" href="{{url_for('projects.project', project_id=t.project_id)}}">
                  {{ t.project_name() }}
                </a>
              </td>
            <td>
              <a title="Click to edit" class="text-dark" href="{{url_for('tasks.edit', task_id=t.id)}}">
                {{t.text}}
              </a>
            </td>
            <td>{{t.type.name}}</td>
            <td>
              {% if t.duedate %}
                {{t.duedate|shortdate}}
              {% else %}
                -
              {% endif %}
            <td>{{t.weekly.name}}</td>
            <td class="text-center">
              <a href="{{url_for('tasks.edit', task_id=t.id)}}">
                <img src="{{url_for('static', filename='edit.png')}}" width="16" height="16">
              </a>
              &nbsp;
              <a href="{{url_for('tasks.delete', task_id=t.id)}}">
                <img src="{{url_for('static', filename='trash.png')}}" width="16" height="16">
              </a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      No tasks found.
    {% endif %}

    {% if edit_id %}
      </form">
    {% endif %}
