{% extends "base.html" %}
{% block content %}

<div class="w-100 p-5 small mx-auto">
  <h5>Customers</h5>

  <br>

  <div class="w-75 mx-auto">

    {% include "flash_message.html" %}

    {% include "customer_table.html" %}

    <h6>Add a new Customer:</h6>
    <form method="POST">
      {{ form.hidden_tag() }}
      <table class="w-100">
        <tr>
          <td scope="col" style="width: 30%">
            {{ form.name(class="form-control form-control-sm", autocomplete="off") }}
          </td>
          <td scope="col" style="width: 70%">
            {{ form.comment(class="form-control form-control-sm", autocomplete="off") }}
          </td>
        </tr>
      </table>

      {% include "flash_error_message.html" %}

      {{ form.submit(class="form-control form-control-sm btn btn-outline-primary w-100") }}
    </form>
  </div>
</div>

{% endblock %}
