{% extends "base.html" %}

{% block content %}

{% include "dynamic_project_selector.html" %}

<div class="w-100 p-5 small mx-auto">
    <h5>Project {{project.name}}</h5>
    <h6>{{project.customer_name()}}</h6>

    <br>

    {% include "flash_message.html" %}

    {% if edit_info %}
      <form method="POST">
        {{ project_info_form.hidden_tag() }}
    {% else %}
      {% include "flash_error_message.html" %}
    {% endif %}

    {% if not project.name == "Misc" %}
      <div class="row">
        <div class="col">
          <h6>General information</h6>
        </div>
        <div class="col text-right">
          {% if edit_info %}
            {{ project_info_form.submit_project_info(class="btn btn-sm btn-outline-primary") }}
            <a href="{{url_for('projects.project', project_id=project.id)}}" class="btn btn-sm btn-outline-secondary" role="button">
              Cancel
            </a>
          {% else %}
            <a href="{{url_for('projects.edit', project_id=project.id)}}" class="btn btn-sm btn-outline-primary" role="button">
              Edit
            </a>
          {% endif %}
        </div>
      </div>

      <hr>
      <p>
        {% if edit_info %}
          <table class="">
            <tr>
              <td> {{ project_info_form.opp_number.label}} </td>
              <td> {{ project_info_form.opp_number(class="form-control form-control-sm", autocomplete="off") }} </td>
            </tr>
            <tr>
              <td> {{ project_info_form.partner.label }} </td>
              <td> {{ project_info_form.partner(class="form-control form-control-sm") }} </td>
            </tr>
          </table>
        {% else %}
          Opportunity:
          {% if not project.opp %}
            not defined
          {% else %}
            {{ project.opp }}
          {% endif %}
          <br>
          Partner:
          {% if not project.partner_id %}
            not defined
          {% else %}
            {{ project.partner_name() }}
          {% endif %}
        {% endif %}
      </p>

      <br>

      <h6>Notes</h6>
      <hr>

      <div>
        {% if edit_info %}
          {{ project_info_form.notes(class="form-control form-control-sm", rows="10") }}
        {% else %}
          {% if not project.notes %}
            None
          {% else %}
            <p style="white-space: pre-line">{{ project.notes }}</p>
          {% endif %}
        {% endif %}
      </div>

      {% if edit_info %}
        </form>
      {% endif %}

      <br>

    {% endif %}

    <h6>Tasks</h6>
    <hr>
    {% if tasks %}
      {% include "tasks_table.html" %}
    {% else %}
      No tasks in this project.
    {% endif %}
    <br>

    {% if not edit_info %}
      {% include "add_task.html" %}
    {% endif %}

</div>

{% endblock %}
