{% extends "base.html" %}

{% block content %}
  <!--
  <div class="jumbotron">
    <h1>Add customer</h1>
    <form action="{{url_for('thank_you')}}" method="get">
      <label for="custname">Customer Name</label>
      <input type="text" name="custname" placeholder="name">
      <input type="submit" value="Add">
    </form>
  </div>
  -->

<div class="jumbotron">
{% if name %}
    You entered {{name}}
{% else %}
    Please enter something
{% endif %}

  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name(class="") }}
    {{ form.submit(class="btn btn-primary btn-sm") }}
  </form>
</div>
{% endblock %}
