{% extends "base.html" %}

{% block content %}

<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.name.label }} {{ form.name }}
  <br>
  {{ form.weekly_relevant.label }} {{ form.weekly_relevant }}
  <br>
  {{ form.customer_select.label }} {{ form.customer_select}}
  <br>
  {{ form.info.label }} {{ form.info }}
  <br>
  {{ form.submit() }}
</form>

{% for mess in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{mess}}
  </div>
{% endfor %}

{% endblock %}
